.header__logo--menu{
    display: block;
}

@media screen and (max-width: 960px){
    .header__logo--menu{
        display: none;
        left: 0;
        position: absolute;
        bottom: -240px;
        width: 50%;
    }

    .header__logo--menu.show-list{
        display: block;
    } 
}

@media screen and (max-width: 520px){
    .header__logo--menu{
        width: 100%;
    }

    .header__logo--menu.show-list{
        display: block;
    } 
}




