.history__container__p1, .history__container__p2, .history__container__p3, .history__container__p4, .history__container__p5, .history__container__p6, .history__container__p7{
    color: #000;
    line-height: 24px;
    margin-bottom: 1rem;
}